.vesselscontainer {
  display: flex;
  flex-direction: row;

  .vesselsreportcontainer {
    flex: 1;
    min-width: 200px;
    min-height: 500px;
  }

  .vesselsmapcontainer {
    flex: 1;
    min-width: 200px;
    min-height: 500px;
  }
}
